/**
 * @name Github Discord Theme
 * @version 0.0.1
 * @author NachoHerrero
 * @description A Github Discord Theme
 * @source https://github.com/NHerreroo/CozyDiscordTheme
 * @website https://solime12.itch.io
*/

/* Imports */
@import url("https://discord-custom-covers.github.io/usrbg/dist/usrbg.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/Touchup.css");
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/UserBadges.css");
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bettterInvites.css");

/* Source */
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Ultra/Clients/betterdiscord.css");
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root,
.theme-dark { /* Dark Mode */

    /*  Header Color  */
    --header-primary: var(--text-normal);
    --header-secondary: var(--text-muted);
  
    /*  Text Color  */
    --text-normal: #E6EDF3;
    --text-muted: #898e92;  /*  Text nombres y detalles q no podia cambiar  */
    --channels-default: #E6EDF3; /* Color por defecto de los canales */
    --text-link: #E6EDF3; /* Color del texto de enlaces */

    --interactive-normal: #8957E5;
    --interactive-hover: #FFFFFF;
    --interactive-active: #FFFFFF;
    --interactive-muted: #FFFFFF;
    --modal-background: #AAE4D8;
  
    /* Background Color */
    --background-primary: #161b22;
    --background-secondary: #0D1117;
    --background-secondary-alt: #010409;
    --background-tertiary: #010409;
    --background-tertiary-alt: var(--background-secondary-alt);
    --background-accent: #0D1117;
    --background-floating: #0D1117; /* Ventanas flotantes */
    --background-modifier-hover: #161B22;
    --background-modifier-active: #0D1117;
    --background-modifier-selected: #0D1117; /*Hover de canales y amugos*/
    --background-modifier-accent: #0D1117; /*Borders y separators*/
    --background-mentioned: #8957e549;
    --border-mentioned: #0D1117;
    --background-mentioned-hover: #0D1117;
    --accent-color: #8957E5;
  
    /* Folder Color */
    --folder-color: #F7A1AE;
    --folder-color-light: #FFFFFF;
  
    /* Scrollbars Color */
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #010409;
    --scrollbar-auto-thumb-hover: #010409;
    --scrollba-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-auto-track);
  
    /* Chat Box Color */
    --channeltextarea-background: var(--background-secondary);
    --channeltextarea-background-hover: var(--background-tertiary);
  
      /* Square avatar addons */
      --avatar-roundess: 5px;
  
    /* Mac Titlebar addons */
    --close-button-color: #e92a2ade;
    --maximize-button-color: #f7bc1bde;
    --minimize-button-color: #12db33de;

    --font: "Geologica";
  }

/* Made By Nacho Herrero*/
